#backround_anymation{
    background-image: url(../../images/img/login_anymation.jpg);
    height: 105vh;
    background-size: cover;
    position: relative;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%,100%{
        background-position: top;
    }
    45%,55%{
        background-position: bottom;
    }
}